{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Event index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Datum</th>
                <th>zeit</th>
                <th>Bild</th>
                <th>Anzahl</th>
                <th>Min. Anzahl</th>
                <th>Hinweis</th>
                <th>Kategorie</th>
                <th>Code</th>
                <th>aktiv</th>
                <th>actions</th>

            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.beschreibung }}</td>
                    <td>{{ event.datum }}</td>
                    <td>{{ event.zeit }}</td>
                    <td>{{ event.bild }}</td>
                    <td>{{ event.anzahl }}</td>
                    <td>{{ event.minteilnehmer }}</td>
                    <td>{{ event.hinweis }}</td>
                    <td>{{ event.kategorie }}</td>
                    <td>{{ event.code }}</td>
                    <td>{{ event.active }}</td>
                    <td>
                        <div class="btn-block">
                            <a class="btn btn-outline-primary btn-block" type="button" href="{{ path('app_event_crud_show', {'id': event.id}) }}">Anzeigen</a>
                            <a class="btn btn-outline-secondary btn-block" type="button" href="{{ path('app_event_crud_edit', {'id': event.id}) }}">Bearbeiten</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success btn-block mb-1"  href="{{ path('app_event_crud_new') }}">neues Event anlegen</a>
    </div>
{% endblock %}
