{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Hero section -->
    <section class="hero-section mt-5">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ event1.name }}</span></h2>
                                {% if event1.anzahl <= 5 %}
                                    <div><h5 class="font-weight-bold text-danger">ACHTUNG nur noch {{ event1.anzahl }}
                                            Plätze frei!</h5></div>
                                {% elseif event1.anzahl <= 10 %}
                                    <div><h5 class="font-weight-bold text-warning">nur noch {{ event1.anzahl }} Plätze
                                            frei!</h5></div>
                                {% else %}
                                    <div><h5 class="font-weight-bold text-primary">noch {{ event1.anzahl }} Plätze
                                            frei!</h5></div>
                                {% endif %}
                                <a class="site-btn mt-3" href="{{ path('app_anmelden', {id: event1.id}) }}">Anmelden</a>
                                <a class="site-btn sb-c2 mt-3" href="{{ path('app_menu', {id: event2.id}) }}">alle Event´s</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('bilder/'~ event1.bild) }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ event2.name }}</span></h2>
                                {% if event2.anzahl <= 5 %}
                                    <div><h5 class="font-weight-bold text-danger">ACHTUNG nur noch {{ event2.anzahl }}
                                            Plätze noch frei!</h5></div>
                                {% elseif event2.anzahl <= 10 %}
                                    <div><h5 class="font-weight-bold text-warning">nur noch {{ event2.anzahl }} Plätze
                                            frei!</h5></div>
                                {% else %}
                                    <div><h5 class="font-weight-bold text-primary">noch {{ event2.anzahl }} Plätze
                                            frei!</h5></div>
                                {% endif %}

                                <a class="site-btn mt-3" href="{{ path('app_anmelden', {id: event2.id}) }}">Anmelden</a>
                                <a class="site-btn sb-c2 mt-3" href="{{ path('app_menu', {id: event2.id}) }}">alle Event´s</a>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('bilder/'~ event2.bild) }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->


{% endblock %}
