{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
    <!-- Animationstest start -->
    <!--
    <br>
    <div class="container justify-content-center">
        <div class="row justify-content-center">

<div class="col">

                <div class="div-animate has-animation animation-ltr" data-delay="10">
                    <p class="text-animate text-center">
                    <h3>Herzlich Willkommen bei <br>PEC Weissach!</h3></p>
                </div><br>
                <div class="div-animate has-animation animation-rtl" data-delay="1000">
                    <p class="text-animate text-center">Ihre Neugierde hat Sie an den richtigen Ort geführt!<br>
                        Bei PEC Weissach bieten wir eine vielfältige Palette von<br>
                        Veranstaltungen, Infoabenden und Spezial-Events, die Sie begeistern werden.
                    </p>
                </div>
    <br>
                <div class="div-animate has-animation animation-ltr text-secondary" data-delay="1300">

                    <p class="text-animate">
                        <strong>Energie & Innovation:</strong><br>
                        Unsere Veranstaltungen decken eine breite Palette von Themen ab,<br>
                        die sich auf Energie konzentrieren. Von Energieeinsparung bis hin zu Smart
                        Home-Technologien,<br>
                        wir bieten Ihnen die neuesten Erkenntnisse und Innovationen in diesem aufregenden Bereich.
                    </p>
                </div>
<br>
                <div class="div-animate has-animation animation-rtl" data-delay="1600">
                    <p class="text-animate">
                        <strong>Sonderevents:</strong><br>
                        Aber wir gehen noch weiter! Unsere Spezial-Events bieten Ihnen einzigartige Erlebnisse,<br>
                        die Sie nirgendwo anders finden werden. Ob es sich um eine Demonstration von
                        Nachtsichtgeräten,<br>
                        ein Bier-Tasting oder eine Weinprobe handelt, wir haben etwas für jeden Geschmack.
                    </p>
                </div>
    <br>
                <div class="div-animate has-animation animation-ltr" data-delay="1900">
                    <p class="text-animate">
                        <strong>Und noch mehr:</strong><br>
                        Wir sind ständig auf der Suche nach neuen und interessanten Themen,<br>
                        um unser Angebot zu erweitern. Wer weiß, was als Nächstes kommt?<br>
                        Bleiben Sie mit uns in Verbindung, um auf dem Laufenden zu bleiben<br>
                        und keine unserer spannenden Veranstaltungen zu verpassen.
                    </p>
                </div>
<br>
                <div class="div-animate has-animation animation-rtl" data-delay="2200">
                    <p class="text-animate txt-center">Bei PEC Weissach geht es nicht nur um Veranstaltungen;<br>
                        es geht um Erlebnisse, Gemeinschaft und die Entdeckung neuer Horizonte.<br>
                        Wir laden Sie ein, Teil unserer aufregenden Reise zu sein.</p>
                </div>
    <br>
                <div class="div-animate has-animation animation-ltr" data-delay="2500">
                    <p class="text-animate txt-center">Wir freuen uns darauf, Sie bald bei einer unserer Veranstaltungen
                        zu
                        begrüßen!</p>
                </div>
</div>
        </div>
    </div>
-->
    <!-- Animationstest end -->

    <div class="row justify-content-center mt-5 mb-5">

        <div class="text-center" style="width: 10rem;">
            <img src="{{ asset('/img/icon_privatpersonen_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">Privatpersonen</p>
        </div>
        <div class="text-center" style="width: 10rem;">
            <img src="{{ asset('/img/icon_vermieter_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">Vermieter</p>
        </div>

        <div class="text-center" style="width: 10rem;">
            <img src="{{ asset('/img/icon_firmen_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">Firmen</p>
        </div>

        <div class="text-center" style="width: 10rem;">
            <img src="{{ asset('/img/icon_wohnungseigentuemergemeinschaft_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">WEGs</p>
        </div>

        <div class="text-center" style="width: 11rem;">
            <img src="{{ asset('/img/icon_hausverwalter_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">Hausverwalter</p>
        </div>

        <div class="text-center" style="width: 10rem;">
            <img src="{{ asset('/img/icon_kommunen_pec-pfeiffer-energie-campus_pfeiffer-heizung-sanitaer-elektro.svg') }}"
                 class="img-thumbnail border-0" alt="...">
            <p class="card-text">Kommunen</p>
        </div>
    </div>
    <div class="container-fluid mb-5">

        <div class="row justify-content-center parallax">
            <!-- <img class="m-5 img-fluid im pec img" src="{{ asset('/img/top_logo_front.png') }}"> -->

        </div>

    </div>




    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ asset('bilder/'~ event1.bild) }}" class="card-img-top img-thumbnail" alt="...">
                        <h5 class="card-title">{{ event1.name }}</h5>

                        {% if event1.anzahl <= 5 %}
                            <p class="card-text">
                            <h5 class="font-weight-bold text-danger">ACHTUNG nur noch {{ event1.anzahl }}
                                Plätze frei!</h5></p>
                        {% elseif event1.anzahl <= 10 %}
                            <p class="card-text">
                            <h5 class="font-weight-bold text-warning">nur noch {{ event1.anzahl }} Plätze
                                frei!</h5></p>
                        {% else %}
                            <p class="card-text">
                            <h5 class="font-weight-bold text-primary">noch {{ event1.anzahl }} Plätze
                                frei!</h5></p>
                        {% endif %}


                        <p class="card-text">
                            <small class="text-body-secondary">
                                <a class="btn  site-btn mt-3" href="{{ path('app_anmelden', {id: event1.id}) }}">Anmelden</a>
                                <a class="btn  site-btn sb-c2 mt-3" href="{{ path('app_menu', {id: event1.id}) }}">alle
                                    Event´s</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ asset('bilder/'~ event2.bild) }}" class="card-img-top img-thumbnail" alt="...">
                        <h5 class="card-title">{{ event2.name }}</h5>
                        <p class="card-text">

                            {% if event1.anzahl <= 5 %}
                        <h5 class="font-weight-bold text-danger">ACHTUNG nur noch {{ event2.anzahl }}
                            Plätze frei!</h5>
                        {% elseif event1.anzahl <= 10 %}
                            <h5 class="font-weight-bold text-warning">nur noch {{ event2.anzahl }} Plätze
                                frei!</h5>
                        {% else %}
                            <h5 class="font-weight-bold text-primary">noch {{ event2.anzahl }} Plätze
                                frei!</h5>
                        {% endif %}

                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <a class="site-btn mt-3"
                                   href="{{ path('app_anmelden', {id: event1.id}) }}">Anmelden</a>
                                <a class="site-btn sb-c2 mt-3" href="{{ path('app_menu', {id: event1.id}) }}">alle
                                    Event´s</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ asset('bilder/'~ event3.bild) }}" class="card-img-top img-thumbnail" alt="...">
                        <h5 class="card-title">{{ event3.name }}</h5>
                        <p class="card-text">

                            {% if event1.anzahl <= 5 %}
                        <h5 class="font-weight-bold text-danger">ACHTUNG nur noch {{ event3.anzahl }}
                            Plätze frei!</h5>
                        {% elseif event1.anzahl <= 10 %}
                            <h5 class="font-weight-bold text-warning">nur noch {{ event3.anzahl }} Plätze
                                frei!</h5>
                        {% else %}
                            <h5 class="font-weight-bold text-primary">noch {{ event3.anzahl }} Plätze
                                frei!</h5>
                        {% endif %}

                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <a class="site-btn mt-3"
                                   href="{{ path('app_anmelden', {id: event1.id}) }}">Anmelden</a>
                                <a class="site-btn sb-c2 mt-3" href="{{ path('app_menu', {id: event1.id}) }}">alle
                                    Event´s</a>
                            </small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".has-animation").each(function (index) {
                $(this)
                    .delay($(this).data("delay"))
                    .queue(function () {
                        $(this).addClass("animate-in");
                    });
            });
        });
    </script>
{% endblock %}
