{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <br>
        <div class="row p-4">
            <h3 class="text-danger">PFEIFFER GmbH & Co. KG – Heizung, Sanitär, Elektro und Fliesenarbeiten</h3>
        </div>
        <div class="row p-4">
            <h4 class="p-4 text-primary">Unternehmen</h4>
            <br>
            <p class="p-4">Mit Qualität, Service sowie Preis- und Termintreue haben wir unser Unternehmen seit Gründung
                im Jahre 1996 positiv entwickeln können.<br>
                Unseren guten Ruf verdanken wir unserem Grundprinzip, dass wir jede Baustelle mindestens so sauber
                verlassen wie wir sie angetroffen haben.<br>
                Wir begegnen unseren Kunden stets zuvorkommend, denn wir haben verinnerlicht, dass nur zufriedene Kunden
                Weiterempfehlungen aussprechen und auf unser Unternehmen – oft seit Gründung 1996 – vertrauen.</p>
        </div>
        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2022</h2>
                <p>Im Rahmen der Firmenaufgabe der „Gerhard Bechthold GmbH – Sanitär & Heizung“ aus Aspach haben wir der
                    Bitte unseres geschätzten Kollegen Gerhard Bechthold gerne entsprochen und stehen ab dem 01.02.2022
                    seinem Kundenstamm als zukünftiger Ansprechpartner für Wartung und Installation mit Rat und Tat zur
                    Seite.</p>
                <p class="font-weight-bold">Aktuell beschäftigen wir 17 Fachkräfte aus den Bereichen Heizung, Sanitär,
                    Elektro und Fliesen.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_bechthold-kundenstamm_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2021</h2>
                <p>25-jähriges Firmenjubiläum, kommuniziert in verschiedenen Sonderveröffentlichungen in der
                    Tageszeitung und weitreichenden Kampagnen über die sozialen Medien..</p>
                <p class="font-weight-bold">Wir sind stolz!</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_25-jahr-jubilaeum_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2020</h2>
                <p>Neue Ära, Digitalisierung der kompletten Betriebsabläufe, Internetseite erneuert, Facebook- und
                    Instagram-Auftritt</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_website_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2019</h2>
                <p>Aufbau einer eigenen Fliesenleger-Abteilung.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_fliesenleger-abteilung_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2017</h2>
                <p>Michael Pfeiffer – Sohn des Unternehmensgründers Siegfried Pfeiffer- übernimmt die Geschäftsführung
                    des mittlerweile auf 13 Mitarbeiter angewachsenen Fachbetriebs.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_firmenuebernahme_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2016</h2>
                <p>20-jähriges Betriebsjubiläum der Firma PFEIFFER. Gefeiert wurde unter anderem mit der
                    Sonderveröffentlichung im Backnanger Wochenblatt.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_jubilaeum_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">2012</h2>
                <p>Erwerb und Umzug in den repräsentativen Firmensitz in der Stuttgarter Straße 61 in Unterweissach.
                    Ständige Erweiterung des Leistungsspektrums.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_einweihung_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col align-items-center">
                <h2 class="text-primary">1996</h2>
                <p>Siegfried Pfeiffer wagt den Weg in die Selbstständigkeit. Seine Frau Petra steht ihm von Beginn an
                    zur Seite. Innerhalb kürzester Zeit konnte ein zufriedener Kundenstamm aufgebaut werden.</p>
            </div>
            <div class="col">
                <img src="{{ asset('bilder/') }}historie_siegfried-und-petra_pfeiffer_heizung-sanitaer-elektro.png">
            </div>
        </div>

    </div>
{% endblock %}
