{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
    {% for message in app.flashes('nachricht') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}


    <!-- Playlist section -->
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Events</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control text-primary" data-filter=".Energie">Energie</li>
                    <li class="control text-secondary" data-filter=".Wärmepumpe">Wärmepumpe</li>
                    <li class="control text-primary" data-filter=".SmartHome">Smart Home</li>
                    <li class="control text-secondary" data-filter=".Wasserhygiene">Wasserhygiene</li>
                    <li class="control text-primary" data-filter=".Vortrag">Vortrag</li>
                    <li class="control text-secondary" data-filter=".Brandschutz">Brandschutz</li>
                    <li class="control text-primary" data-filter=".Energieberatung">Energieberatung</li>
                    <li class="control text-secondary" data-filter=".Sanierung">Sanierung</li>
                    <li class="control text-primary" data-filter=".Produktvorstellung">Produktvorstellung</li>
                    <li class="control text-secondary" data-filter="all">Alles</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row playlist-area">

                {% for event in events %}

                    <div class="mix col-lg-3 col-md-4 col-sm-6 {{ event.kategorie }}">
                        <div class="playlist-item">
                            <div class="col">
                                <div class="card">
                                    <img src="{{ asset('bilder/' ~ event.bild) }}" alt="">
                                    <div class="card-body text-left">
                                        <h5 class="card-title text-left">{{ event.name }}</h5>
                                    </div>
                                    {% if event.hinweis == not null %}
                                        <div class="alert alert-danger">
                                            <h3>{{ event.hinweis }}</h3>
                                        </div>
                                    {% endif %}
                                    <div class="card-footer">
                                        <small class="text-body-secondary">Beginn: {{ event.datum|date("d.m.y") }}
                                            um: {{ event.zeit }} Uhr</small>
                                        <br>
                                        {% if event.anzahl <= 5 %}
                                            <small class="text-danger font-weight-bold">noch: {{ event.anzahl }}/20 Plätzen frei</small>
                                        {% elseif event.anzahl <=10 %}
                                            <small class="text-warning font-weight-bold">noch: {{ event.anzahl }}/20 Plätzen frei</small>
                                        {% else %}
                                            <small class="text-primary font-weight-bold">noch: {{ event.anzahl }}/20 Plätzen frei</small>
                                        {% endif %}

                                        <br>
                                        <a class="btn btn-outline-primary mt-2"
                                           href="{{ path('app_anmelden', {id: event.id}) }}">Anmelden</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </section>
    <!-- Playlist section end -->
{% endblock %}
