{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h5 class="mt-5 mb-4">Unsere Event Liste</h5>

        {% for event in events %}

            {% if event.anzahl <= (event.max /3) %}

                <a href="{{ path('app_anmelden', {id: event.id}) }}"
                   class="list-group-item list-group-item-action list-group-item-danger mb-2">Am: {{ event.datum|date("d.m.y") }}
                    Um: {{ event.zeit }} | Thema: {{ event.name }} | Nur noch {{ event.anzahl }} / {{ event.max }}
                    Plätze frei. </a>

            {% elseif event.anzahl <= (event.max / 2) %}
                <a href="{{ path('app_anmelden', {id: event.id}) }}"
                   class="list-group-item list-group-item-action list-group-item-warning mb-2">Am: {{ event.datum|date("d.m.y") }}
                    Um: {{ event.zeit }} | Thema: {{ event.name }} | Noch {{ event.anzahl }} / {{ event.max }} Plätze frei. </a>

            {% else %}
                <a href="{{ path('app_anmelden', {id: event.id}) }}"
                   class="list-group-item list-group-item-action list-group-item-success mb-2">Am: {{ event.datum|date("d.m.y") }}
                    Um: {{ event.zeit }} | Thema: {{ event.name }} | {{ event.anzahl }} / {{ event.max }} Plätze frei. </a>


            {% endif %}



        {% endfor %}

    </div>
{% endblock %}
