{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h6 class="mt-5">Unsere Event Liste</h6>
        <table class="table align-middle table-striped-columns mt-5">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Thema</th>
                <th>Min. Teilnehmer</th>
                <th>Max. Teilnehmer</th>
                <th>noch frei</th>
                <th>Anmelden</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}

                <tr
                    {% if event.anzahl <= (event.max /3)  %}
                        class="border-2 table-danger"
                    {% elseif event.anzahl <= (event.max / 2) %}
                        class="border-2 table-warning"
                    {%  else %}
                        class="border-2 table-success"
                    {% endif %}
                >
                    <td class="align-middle">{{ event.datum|date("d.m.y") }}</td>
                    <td class="align-middle">{{ event.zeit }}</td>
                    <td class="align-middle">{{ event.name }}</td>
                    <td class="align-middle">{{ event.minteilnehmer }}</td>
                    <td class="align-middle">{{ event.max }}</td>
                    <td class="align-middle">{{ event.anzahl }}</td>
                    <td class="align-middle"><a href="{{ path('app_anmelden', {id: event.id}) }}" class="btn btn-success">hier klicken</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
