{% extends 'base.html.twig' %}

{% block title %}Anmeldung index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Anmeldung index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>EventNr</th>
                <th>Name</th>
                <th>Teilnehmer</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for anmeldung in anmeldungs %}
                <tr>
                    <td>{{ anmeldung.id }}</td>
                    <td>{{ anmeldung.Email }}</td>
                    <td>{{ anmeldung.eventNr }}</td>
                    <td>{{ anmeldung.name }}</td>
                    <td>{{ anmeldung.teilnehmer }}</td>
                    <td>{{ anmeldung.status }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-block" href="{{ path('app_anmeldung_crud_show', {'id': anmeldung.id}) }}">Anzeigen</a>
                        <a class="btn btn-outline-secondary btn-block" href="{{ path('app_anmeldung_crud_edit', {'id': anmeldung.id}) }}">Bearbeiten</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success btn-block mb-5" href="{{ path('app_anmeldung_crud_new') }}">Benutzer anlegen</a>

    </div>
{% endblock %}
